<a class="link" href="/"><div class="Title" href="/"> Projetos </div></a>
<div class="cards-container">
<div class="card">
    <img src="../assets/marteLogo.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>M Arte</b></h4>
      <p>Plataforma Free-lancer, especialmente construida para a arte</p>
    </div>
  </div>

  <div class="cardTwo">
    <img src="../assets/marteLogo.png" alt="Avatar" style="width:100%">
    <div class="containerTwo">
      <h4><b>M Arte</b></h4>
      <p>Plataforma Freelance</p>
    </div>
  </div>

  <div class="cardThree">
    <img src="../assets/marteLogo.png" alt="Avatar" style="width:100%">
    <div class="containerThree">
      <h4><b>M Arte</b></h4>
      <p>Plataforma Freelance</p>
    </div>
  </div>
</div>
